.settingsModal {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &Title {
        font-weight: var(--font-weight-ultra-bold);
        font-size: 20px;
        color: var(--main-color);
        margin-bottom: 4px;
    }

    &Descr {
        font-weight: var(--font-weight-bold);
        font-size: 14px;
        line-height: 14px;
        color: var(--hint-color);
        text-align: center;
        margin-bottom: 20px;
    }

    &Wallet {
        border-radius: 12px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 10px 12px;
        background-color: var(--section-color);
        margin-bottom: 24px;

        &>h5 {
            color: var(--hint-color);
            font-size: 16px;
            line-height: 16px;
            font-weight: var(--font-weight-bold);
        }

        &Address {
            font-size: 16px;
            line-height: 16px;
            color: var(--main-color);
            font-weight: var(--font-weight-bold);
            width: 100%;
            text-align: left;
        }
    }

    &Confirm {
        background-color: var(--error-color);
        width: 100%;
    }
}