.settingsApp {
    background-color: var(--bg-color);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    padding: 16px 0;
    border-top: 1px solid rgba($color: #1D2733, $alpha: 0.75);

    &>h3 {
        color: var(--button-color);
        font-weight: var(--font-weight-bold);
        font-size: 16px;
        margin-bottom: 6px;
        padding-left: 16px;
    }

    &>button {

        &:nth-child(2)>svg {
            padding: 4px;
            fill: var(--hint-color);
        }

        &:nth-child(3)>svg {
            padding: 1px;
            stroke: var(--hint-color);
        }

        &:last-child>div {
            border-bottom: none;
        }
    }
}