.settingsUser {
    padding: 16px;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);


    &>img,
    &>div {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
        font-weight: var(--font-weight-bold);
        color: #fff;
        background: linear-gradient(0deg, rgba(66, 140, 209, 1) 0%, rgba(90, 173, 246, 1) 100%);
    }

    &>h3 {
        color: var(--main-color);
        font-weight: var(--font-weight-bold);
        font-size: 20px;
    }

    &>span {
        color: var(--hint-color);
        font-weight: var(--font-weight-default);
    }

    &Wallet {

        &Connect,
        &Disconnect {
            margin-top: 24px;
            width: 100%;
        }

        &Disconnect {
            background-color: var(--error-color);
        }
    }
}