.switch {
    position: relative;
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    gap: 16px;
    padding-left: 16px;

    &>svg {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
    }

    &>div {
        width: 100%;
        border-bottom: 1px solid rgba($color: #1D2733, $alpha: 0.75);
        display: flex;
        padding: 10px 0;
        align-items: center;
        justify-content: space-between;

        &>div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;

            &>h4 {
                font-size: 16px;
                color: var(--main-color);
                font-weight: 300;
                margin: 0;
            }

            &>p {
                margin: 0;
                color: var(--hint-color);
                font-size: 14px;
                font-weight: 300;
            }
        }
    }

    &Slider {
        width: 32px;
        height: 14px;
        border-radius: 20px;
        background-color: var(--hint-color);
        position: relative;
        margin-right: 22px;
        transition: background-color 0.2s ease-in-out;

        &>div {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: var(--bg-color);
            border: 2px solid var(--hint-color);
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            left: -2px;
            transition: left 0.2s ease-in-out, border 0.2s ease-in-out
        }

        &Active {
            background-color: var(--button-color);

            &>div {
                border: 2px solid var(--button-color);
                left: 14px;
            }
        }
    }
}