.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    border: none;
    text-transform: uppercase;
    background-color: var(--tg-theme-button-color);
    border-radius: 12px;
    color: var(--tg-theme-button-text-color);
    font-size: 14px;
    font-weight: 600;
}