.menu {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 6px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;

    &LinkDefault {
        width: 50px;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        color: var(--hint-color);
        font-size: 14px;
        line-height: 14px;
        transition: color 0.2s ease-in-out;
        font-weight: var(--font-weight-bold);

        &>svg {
            width: 24px;
            height: 24px;
            fill: var(--hint-color);
            transition: fill 0.2s ease-in-out;
        }

        &:first-child>svg {
            stroke: var(--hint-color);
            fill: none;
            transition: stroke 0.2s ease-in-out;
        }
    }

    &LinkActive {
        color: var(--button-color);

        &>svg {
            fill: var(--button-color);
        }

        &:first-child>svg {
            stroke: var(--button-color);
        }
    }
}