* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-color);
  padding-bottom: 60px;
}

footer {
  position: fixed;
  bottom: 0px;
}

.go2218940523 {
  display: none !important;
}

.go4143835264 {
  padding-bottom: 0;

  &>li:nth-child(5) {
    display: none;
  }
}

.go3508441334 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}