* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  border: none;
}

ul {
  list-style: none;
}

body {
  background-color: var(--bg-color);
  font-family: 'Montserrat';
  padding-top: var(--tg-safe-area-inset-top);
  padding-right: var(--tg-safe-area-inset-right);
  padding-bottom: var(--tg-safe-area-inset-bottom);
  padding-left: var(--tg-safe-area-inset-left);
}

footer {
  position: fixed;
  bottom: 42px;
}

//ton-connect
.go2218940523 {
  display: none !important;
}

.go3508441334 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}