:root {
    --font-weight-default: 500;
    --font-weight-bold: 600;
    --font-weight-ultra-bold: 700;
    --bg-color: #0F1620;
    --secondary-bg-color: #141b25;
    --section-color: #1D2733;
    --main-color: #FFFFFF;
    --hint-color: #7F8A98;
    --button-color: #46AEF5;
    --sub-color: #2F3847;
    --error-color: #FF4766;
    --success-color: #3DC884;
}