.groupedTransactions {
    margin-bottom: 20px;
    
    &>h4 {
        font-weight: var(--font-weight-bold);
        font-size: 20px;
        color: var(--tg-theme-text-color);
        margin-bottom: 10px;
    }

    &Data {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}