.groupedTransactions {
    margin-bottom: 24px;
    width: 100%;
    
    &>h4 {
        font-weight: var(--font-weight-bold);
        font-size: 20px;
        line-height: 20px;
        color: var(--main-color);
        margin-bottom: 12px;
    }

    &Data {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}