.history {
    padding: 16px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &>h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--tg-content-safe-area-inset-top);
        font-weight: var(--font-weight-ultra-bold);
        color: var(--main-color);
        font-size: 20px;
        line-height: 20px;
    }
}