.history {
    padding: 16px;
    display: flex;
    justify-content: center;

    &Transactions {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>div:not(:last-child) {
            margin-bottom: 24px;
        }
    }
}