* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span, p, button {
  user-select: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--tg-theme-section-bg-color);
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}

ul {
  list-style: none;
}