.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &Active {
        background-color: rgba(0, 0, 0, 0.5);
    }

    &Content {
        position: relative;
        width: 100%;
        border-radius: 16px 16px 0 0;
        transform: translateY(100%);
        background-color: var(--bg-color);
        transition: transform 0.3s ease-in-out;

        &>button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 16px;
            right: 16px;
            background-color: transparent;
            border: none;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: var(--tg-theme-bg-color);
        }

        &Active {
            transform: translateY(0%);
        }
    }
}