.assetInput {
    background-color: transparent;
    border: none;
    text-align: right;
    font-size: 26px;
    padding: 0;
    font-weight: var(--font-weight-bold);
    width: 100%;
    letter-spacing: 1px;
    color: var(--tg-theme-text-color);

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: var(--tg-theme-hint-color);
    }

    &Error {
        color: var(--tg-theme-destructive-text-color);
    }
}