.confirmModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 8px;

    &>h3 {
        align-self: flex-start;
        font-size: 22px;
        margin-top: 6px;
        line-height: 22px;
        color: var(--main-color);
        font-weight: var(--font-weight-ultra-bold);
        margin-bottom: 12px;
    }

    &Slider {
        background-color: var(--section-color);
        width: 100%;
        border-radius: 12px;
        height: 52px;
        margin-top: 24px;
        touch-action: none;
        position: relative;

        &>span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
            font-weight: var(--font-weight-bold);
            color: var(--hint-color);
            background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 30%,
                    rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.5) 70%);
            background-size: 200% 100%;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            animation: shimmer 2s ease-in-out infinite;
            transition: opacity 0.2s ease-in-out;

            @keyframes shimmer {
                0% {
                    background-position: 150%;
                }

                100% {
                    background-position: -50%;
                }
            }
        }

        &Btn {
            width: 90px;
            height: 100%;
            background-color: var(--button-color);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            touch-action: none;

            &>svg {
                width: 20px;
                transition: all 0.3s ease-in-out;
            }

            &::after {
                position: absolute;
                content: '';
                width: 14px;
                height: 14px;
                border: 2px solid var(--main-color);
                border-bottom-color: transparent;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                animation: rotation 1s linear infinite;
                top: 60%;
                scale: 0;
                opacity: 0;
            }

            @keyframes rotation {
                0% {
                    transform: translateY(-50%) rotate(0deg);
                }

                100% {
                    transform: translateY(-50%) rotate(360deg);
                }
            }

            &Loading {
                &>svg {
                    transform: translateY(-35%) scale(0.2);
                    opacity: 0;
                }

                &::after {
                    top: 50%;
                    scale: 1;
                    opacity: 1;
                }
            }
        }
    }
}