.swapAction {
    width: 100%;
    flex-grow: 1;
    display: flex;
    align-items: flex-end;

    &>button {
        font-weight: 600;
        font-size: 14px;
        height: 44px;
        width: 100%;
    }
}