.swapInfo {
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;

    &Active {
        overflow: auto;
        max-height: 1000px;
    }

    &Button {
        border-top: 1px solid var(--sub-color);
        padding: 12px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>span {
            font-size: 14px;
            font-weight: 600;
            color: var(--main-color);
        }

        &>svg {
            width: 22px;
            height: 22px;
            stroke: var(--hint-color);
            fill: var(--hint-color);
            transition: transform 0.2s ease-in-out;
        }
    }

    &Dropdown {
        max-height: 0px;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;

        &Active {
            overflow: auto;
            max-height: 500px;
        }

        &Content {
            border-top: 1px solid var(--sub-color);
            padding: 12px 16px;
            display: flex;
            flex-direction: column;
            gap: 12px;

            &>div {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>span:first-child {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--hint-color);
                }

                &>span:last-child {
                    font-size: 14px;
                    font-weight: 600;
                    color: var(--main-color);
                }
            }
        }
    }
}