.targetAsset {
    background-color: var(--section-color);
    border-radius: 16px;
    width: 100%;

    &Main {
        padding: 16px;
    }

    &Top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        &>h4 {
            font-size: 16px;
            line-height: 16px;
            color: var(--hint-color);
            font-weight: 500;
        }

        &>div {
            display: flex;
            gap: 5px;
            align-items: center;

            &>svg {
                fill: var(--hint-color);
                width: 16px;
                height: 16px;
            }

            &>span {
                font-size: 16px;
                line-height: 16px;
                color: var(--hint-color);
                font-weight: 500;
            }
        }
    }

    &Middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &>div {
            display: flex;
            align-items: center;
            gap: 12px;

            &>img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            &>span {
                font-size: 26px;
                line-height: 26px;
                color: var(--tg-theme-text-color);
                font-weight: var(--font-weight-bold);
            }

            &>div {
                position: relative;
                margin-left: -2px;
                width: 10px;
                height: 16px;


                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    background-color: var(--tg-theme-hint-color);
                    left: 0;
                    width: 11px;
                    height: 3px;
                    border-radius: 2px;
                }

                &::before {
                    transform: rotate(-60deg) translateY(100%);
                    transform-origin: bottom left;
                    bottom: 0;
                }

                &::after {
                    transform: rotate(60deg) translateY(-100%);
                    transform-origin: top left;
                    top: 0;
                }
            }
        }
    }
}